
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #cbbac5;
    background-size: contain;
    height: 100%;
    margin: 0;
}

body{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #cbbac5;
        background-size:cover;
    }

.div_container{
position:absolute;
top: 50%;
left:50%;
transform: translate(-50% -50%);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

input{
    display: none;
}
.panel_controls{
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-start;
}

label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;

}
.span {
    display: block;
    width: 30%;
    height: 30%;
    border: 3px solid #290075;
    border-radius: 50%;
    background-color: transparent;
}
label:hover .span {
    transition: 500ms;
    background: rgba(119, 55, 165, 0.521);
}
label:active .span{
#slide_1:target ~ .text_controls .panel_controls label:first-child, .span,
#slide_2:target ~ .text_controls .panel_controls label:nth-of-type(2) .span,
#slide_3:target ~ .text_controls .panel_controls label:nth-of-type(3) .span,
#slide_4:target ~ .text_controls .panel_controls label:nth-of-type(4) .span {
    outline: min(0.6vh, 0.6vw)  solid rgb(73, 183, 93);
    margin-left: calc(min(2vh, 2vw) * -1);
    margin-right: calc(min(2vh, 2vw) * -1);
    padding: min(4vh, 4vw) ;
    outline-offset: calc(min(3.2vh, 3.2vw) * -1);
}}

#slide_1:target ~ .text_controls .panel_controls label:first-child, .span,
#slide_2:target ~ .text_controls .panel_controls label:nth-child(2), .span,
#slide_3:target ~ .text_controls .panel_controls label:nth-child(3), .span,
#slide_4:target ~ .text_controls .panel_controls label:nth-child(4), .span,
{
    outline:min(0.6vh,0.6vw)  solid black;
    margin-left:calc(min(2vh, 2vw) * -1);
    margin-right:calc(min(2vh, 2vw) * -1);
    padding:min(4vh,4vw) ;
    outline-offset:calc(min(3.2vh, 3.2vw) * -1);
}

#slide_1:target ~ .text_controls .panel_controls label:first-child :hover,
#slide_2:target ~ .text_controls .panel_controls label:nth-child(2):hover,
#slide_3:target ~ .text_controls .panel_controls label:nth-child(3):hover,
#slide_4:target ~ .text_controls .panel_controls label:nth-child(4):hover,
{
    outline: min(1.4vh, 1.4vw)  solid rgb(161, 219, 255);
    outline-offset: calc(min(4vh, 4vw) * -1)
}



.text_controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
background-size:100%;
background-repeat: no-repeat;
background-position: 50% 50%;
    overflow: hidden;
    max-width: min(calc(80vh + min(4vh, 4vw) ), calc(80vw + min(4vh, 4vw) ));
    height: min(88vh, 88vw);
    border-radius: 9px;
    border: min(0.6vh, 0.6vw)  solid rgb(207, 32, 175);
    background-color: #d6d457;
}

.slides {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: min(2vh, 2vw) ;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1;
    height: calc(100% - min(4vh, 4vw) );
    min-width: min(30vh, 30vw);
    
#slide_1:target ~ :first-child 
    #mem1:target~.slides #memo1,
#mem2:target~.slides #memo2,
#mem3:target~.slides #memo3,
#mem4:target~.slides #memo4,
#mem5:target~.slides #memo5,
#mem6:target~.slides #memo6,
#mem7:target~.slides #memo7,
#mem8:target~.slides #memo8 {
    -webkit-animation: slidein 1.5s ease-in-out;
            animation: slidein 1.5s ease-in-out
}
}

/*
.slide_1 {
    background-image: url(assets/img/slide_1.jpg);
    transform: translateZ(-100%);
}
.slide_2 {
    background-image: url(assets/img/slide_2.jpg);
    transform: translateX(100%) translateY(-100%);
}
.slide_3 {
    background-image: url(assets/img/slide_3.jpg);
    transform: translateY(-100%);
}
.slide_4 {
    background-image: url(assets/img/slide_4.jpg);
    transform: translateX(-100%) translateY(-300%);
}
*/
#slide_1:checked ~ .slider .slide_1 {
    z-index: 1;
    transform: translateY(0) scale(1.15);
}
#slide_2:checked ~ .slider .slide_2 {
    z-index: 1;
    transform: translateX(-30%) translateY(-100%) scale(1.67);
    ;
}
#slide_3:checked ~ .slider .slide_3 {
    z-index: 1;
    transform: translateY(-200%) translateX(-30%) scale(1.7);
}
#slide_4:checked ~ .slider .slide_4 {
    z-index: 1;
    transform: translateY(-295%) translateX(-29%) scale(1.65);
}

.text_container {
    overflow: hidden;
    height: 20vh;
}

.text p {
    font-size: calc(100% + 10px);
    margin: 0;
    height: inherit;
    color: rgb(49, 11, 88);
}
.text {
    color: rgb(49, 11, 88);
    font-size: 20px;
    transition: 500ms;
    padding: 0 1vw;
}
.text_1 {
    transform: translateY(-200%);
}
.text_2 {
    transform: translateY(-300%);
}
.text_3 {
    transform: translateY(-400%);
}
.text_4 {
    transform: translateY(-500%);
}

#slide_1:checked ~ .text_controls .text_container .text_1 {
    z-index: 1;
    transform: translateY(0);
}
#slide_2:checked ~ .text_controls .text_container .text_2 {
    z-index: 1;
    transform: translateY(-100%);
}
#slide_3:checked ~ .text_controls .text_container .text_3 {
    z-index: 1;
    transform: translateY(-200%);
}
#slide_4:checked ~ .text_controls .text_container .text_4 {
    z-index: 1;
    transform: translateY(-300%);
}

/*Dekstor*/
@media (max-width: 1920px) {
.slider {
width: calc(35vw + 200px);
height: calc(35vw + 200px);
}

.text_controls {
flex-direction: column-reverse;
}

.controls {
align-self: center;
margin-bottom: 3vw;
}
}

/*mobile*/
@media (max-width: 320px) {
.slider {
width: calc(40vw + 100px);
height: calc(40vw + 100px);
}
.text {
font-size: 16px;
}
}