body{
    background-color: #cbbac5;
    background-size: contain;
}
.div_container{
position: relative;
width: 70vw;
height: 90vh;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
input{
    display: none;
}